#root {
  margin: 0 auto;
  text-align: center;
}

#procesador {
  display: grid;
  grid-template-columns: auto auto;
}

h2{
  padding: 0;
  margin: 0;
}

.flash-red {
  animation: flash-red 0.5s ease-in-out;
}

@keyframes flash-red {
  0% {
    background-color: red;
  }
  100% {
    background-color: transparent;
  }
}